{% extends 'base.html' %}

{% block content %}
<h3 id="addfavh3">Search for what song you want to add to your favorites list</h3>
<form id="searchForm" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
    <button class="btn btn-info" role="button" data-bs-toggle="button">Add</button>
</form>
<h1>
    {{ artist_name }}
    {{ track_name }}
</h1>
{% endblock%}
