{% extends 'base.html' %}

{% block content %}
<h1 id="homeh1">LYRIX</h1>
<div>
    <div id="searchForm">
        <form id="searchForm" method="POST">
            {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                    {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                    {{ field(placeholder=field.label.text, class="form-control") }}
                {% endfor %}
            <button class="btn btn-info" role="button" data-bs-toggle="button">Search</button>
        </form>
    </div>
        {% if resp %}
            <div id="searchResp">
                <h3>{{ resp['artist_name'] }}</h3>
                <h4><a href="/songs/add"></a>{{ resp['track_name'] }}</h4>
                <p>{{ resp['lyrics'] }}</p>
            </div>
        {% endif %}
        <h4>Search for chart topping artist like these:</h4>
        {% for char in chart %}
            <li class="list-group-item p-3 mb-2 bg-dark text-white d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ char.track.artist_name }}:</div>
                    <p>{{ char.track.track_name}}</p>
                </div>
            </li>
        {% endfor %} 
</div>
{% endblock %}
