{% extends 'base.html' %}
{% block content %}
  {% if users|length == 0 %}
    <h3>Sorry, no users found</h3>
  {% else %}
    <div class="row justify-content-end">
      <div class="col-sm-9">
        <div class="row">

          {% for user in users %}

            <div class="col-lg-4 col-md-6 col-12">
              <div class="card user-card">
                <div class="card-inner">
                  <div class="image-wrapper">
                    <img src="{{ user.header_image_url }}" alt="" class="card-hero">
                  </div>
                  <div class="card-contents">
                    <a href="/users/{{ user.id }}" class="card-link">
                      <img src="{{ user.image_url }}" alt="Image for {{ user.username }}" class="card-image">
                      <p>@{{ user.username }}</p>
                    </a>

                    {% if g.user %}
                      {% if g.user.is_following(user) %}
                        <form method="POST"
                              action="/users/stop-following/{{ user.id }}">
                          <button class="btn btn-primary btn-sm">Unfollow</button>
                        </form>
                    {% else %}
                        <form method="POST"
                              action="/users/follow/{{ user.id }}">
                          <button class="btn btn-outline-primary btn-sm">Follow</button>
                        </form>
                      {% endif %}
                    {% endif %}

                  </div>
                  <p class="card-bio">{{ user.bio }}</p>
                </div>
              </div>
            </div>
            <div>
                <ul class="list-group" id="posts">
                    {% for p in posts %}
                        <li class="list-group-item">
                            <a href="/posts/{{ p.id  }}" class="message-link"/>
                            <a href="/users/{{ p.user.id }}">
                                <img src="{{ p.user.image_url }}" alt="" class="timeline-image">
                            </a>
                            <div class="posts-area">
                                <a href="/users/{{ p.user.id }}">@{{ p.user.username }}</a>
                                <span class="text-muted">{{ p.timestamp.strftime('%d %B %Y') }}</span>
                                <p>{{ p.text }}</p>
                            </div>
                            <form method="POST" action="/posts/{{ p.id }}/like" class="posts-like">
                                <button class="
                                    btn 
                                    btn-sm 
                                    {{'btn-primary' if p.id in likes else 'btn-secondary'}}"
                                >
                                    <i class="fa fa-thumbs-up"></i> 
                                </button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            </div>

          {% endfor %}

        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}