{% extends 'base.html' %}

{% block content %}



<form id="login-form" method="POST">
  <h2 id="picta"><i id="logo-login" class="bi bi-camera-reels"></i>Pictagram</h1>
      {{ form.hidden_tag() }}

          {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
              <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
          {% endfor %}
          <button id="login-btn" class="btn btn-light">Login</button>
  </form>
<div id="signup-div">
  <button class="btn btn-light" id="signup-btn" href="/signup">Join</button>
  <p id="join-p">come join us at picta!</p>
</div>
{% endblock %}
