{% extends 'base.html' %}

{% block content %}

<h1 id="header-h1">Join LYRIX today!</h1>
    <form id="signup-form" method="POST" id="user_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}

      <button id="signup-btn" class="btn btn-light">Sign up</button>
    </form>
{% endblock %}
