{% extends 'base.html' %}

{% block content %}

<h2 id="login-signuph1">Join LYRIX today!</h2>
    <form id="valid_forms" method="POST" id="user_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}

      <button id="log-sign-btn" class="btn btn-info">Sign up</button>
    </form>
    <a id="login-link" class="btn btn-info" href="/login">Login</a>
{% endblock %}