{% extends 'base.html' %}

{% block content %}

<div id="user-card" class="card user-card">
  <div id="card-wrapper">
    <a href="/users/{{ g.user.id }}" class="card-link">
      <img id="profile-card-img" 
            src="{{ g.user.profile_img }}"
            alt="Image for {{ g.user.username }}"
            class="card-image">
      <p>@{{ g.user.username }}</p>
    </a>
    <a href="/users/profile"><button  id="delete-edit-btns" class="btn btn-light" >Edit</button></a>
    <a href="/users/delete"><button id="delete-edit-btns" class="btn btn-light" >Delete</button></a>
    <ul id="profile-card-ul" class="user-stats nav nav-pills">
      <li class="user-li">
        <p class="user-info-p">Posts</p>
        <h4>
          <a href="/users/{{ g.user.id }}">{{ g.user.posts | length }}</a>
        </h4>
      </li>
      <li class="user-li">
        <p class="user-info-p">Following</p>
        <h4>
          <a href="/users/{{ g.user.id }}/following">{{ g.user.following | length }}</a>
        </h4>
      </li>
      <li class="user-li">
        <p class="user-info-p">Followers</p>
        <h4>
          <a href="/users/{{ g.user.id }}/followers">{{ g.user.followers | length }}</a>
        </h4>
      </li>
    </ul>
    <div id="bio-div-wrapper" class="row">
      <div id="bio-div" class="col-sm-3">
        <h4 id="sidebar-username">@{{ user.username }}</h4>
        <p>Bio: {{ user.bio }}</p>
        <p class="user-location"><span class="fa fa-map-marker"></span>Location: {{ user.location }}</p>
      </div>
    </div>
  </div>
</div>

  {% block user_details %}
  {% endblock %}

{% endblock %}


