#body {
   padding: 0;
}

nav {
    border: none;
}
#searchForm {
    margin: 0 25% 0 25%;
    padding: 50px;
}
#homeh1 {
    text-align: center;
}
.footerh5 {
    text-align: center;
}
#favList {
    margin: 0 25% 0 25%;
    padding: 0;
    text-align: center;
    list-style-type: none;
}
#add-song {
    padding: 5px;
    text-align: center;
    margin: 30px 48.5% 0 48.5%;
}
nav {
    margin: 0 0 10px 0;
}
#searchResp {
    margin: 0 20% 8% 20%
}
#trash-can {
    margin: 0 0 0 18px;
}
#song-title {   
    text-decoration: none;
    color: gray;
}
#song-title:hover {
    color: rgb(94, 93, 93);
}
#allFavs {
    text-align: center;
}
#addfavh3 {
    text-align: center;
    margin: 50px 0 40px 0;
}
#valid_forms {
    margin: 0 25% 0 25%;
    padding: 50px;
}
#log-sign-btn {
    margin: 25px 47% 0 47%;
}
#login-signuph1 {
    text-align: center;
}
#login-link {
    margin: 0 49% 0 49%;
}
#signup-link {
    margin: 0 49% 0 49%;
}